@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

/* Global variables */
:root {
  --color-primary-400: hsl(14, 88%, 65%);
  --color-primary-900: hsl(238, 29%, 16%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(240, 5%, 91%);
  --color-neutral-500: hsl(240, 6%, 50%);
  --color-neutral-700: hsl(237, 12%, 33%);

  --color-gradient-1: hsl(273, 75%, 66%);
  --color-gradient-2: hsl(240, 73%, 65%);
  --background-gradient: linear-gradient(
    180deg,
    var(--color-gradient-1),
    var(--color-gradient-2)
  );

  --color-shadow-hsl: 251, 74%, 27%;
  --shadow: 0px 50px 50px -20px hsla(var(--color-shadow-hsl), 0.5);

  --font-family-default: "Kumbh Sans", sans-serif;

  --font-weight-reg: 400;
  --font-weight-bold: 700;

  --font-size-text: 0.75rem;
  --font-size-text-lg: var(--fluid-13-14);
  --font-size-heading-reg: 2rem;

  --fluid-13-14: clamp(0.8125rem, 0.625rem + 0.8vi, 0.875rem);
}

/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Global styles */

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-text);
  color: var(--color-neutral-700);
  background-image: var(--background-gradient);
  min-height: 100vh;
  padding: 2.5rem; /* temporary */
}

/* Card */
.card {
  margin-top: 33%;
  padding: 1.5rem; /* temporary */
  padding-top: 32%;
  position: relative;
  --illustraion-width: 72%;
  background-image: url("images/bg-pattern-mobile.svg");
  background-color: var(--color-neutral-100);
  background-repeat: no-repeat;
  background-size: var(--illustraion-width) auto;
  background-position: top;
  border-radius: 23px;
  box-shadow: var(--shadow);
}

.card__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  width: var(--illustraion-width);
}
