@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

/* Global variables */
:root {
  --color-primary-400: hsl(14, 88%, 65%);
  --color-primary-900: hsl(238, 29%, 16%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(240, 5%, 91%);
  --color-neutral-500: hsl(240, 6%, 50%);
  --color-neutral-700: hsl(237, 12%, 33%);

  --color-gradient-1: hsl(273, 75%, 66%);
  --color-gradient-2: hsl(240, 73%, 65%);
  --background-gradient: linear-gradient(
    180deg,
    var(--color-gradient-1),
    var(--color-gradient-2)
  );

  --color-shadow-hsl: 251, 74%, 27%;
  --shadow: 0px 50px 50px -20px hsla(var(--color-shadow-hsl), 0.5);

  --font-family-default: "Kumbh Sans", sans-serif;

  --font-weight-reg: 400;
  --font-weight-bold: 700;

  --font-size-text: 0.75rem;
  --font-size-text-lg: var(--fluid-13-14);
  --font-size-heading-reg: 2rem;

  --fluid-13-14: clamp(0.8125rem, 0.625rem + 0.8vi, 0.875rem);
}

/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Global styles */

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-text);
  color: var(--color-neutral-500);
  background-image: var(--background-gradient);
  min-height: 100vh;
  padding: 6.4vw;
}

/* Card */

.card {
  --illustraion-width: 72%;
  margin-top: 33%;
  padding: 32% 1.5rem 3rem;
  position: relative;
  background-image: url("images/bg-pattern-mobile.svg");
  background-color: var(--color-neutral-100);
  background-repeat: no-repeat;
  background-size: var(--illustraion-width) auto;
  background-position: top;
  border-radius: 23px;
  box-shadow: var(--shadow);
}

.card__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  width: var(--illustraion-width);
}

.card__content__title {
  margin-top: 1rem;
  text-align: center;
  font-size: var(--font-size-heading-reg);
  color: var(--color-primary-900);
}
.accordion__panel {
  padding-block: 1.25rem;
  border-bottom: 1px solid var(--color-neutral-200);
}
.accordion__panel button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-text-lg);
  color: var(--color-neutral-700);
}

.accordion__panel button[aria-expanded="true"] {
  color: var(--color-primary-900);
  font-weight: var(--font-weight-bold);
}

.accordion__panel button i {
  font-size: 0.65rem;
  color: var(--color-primary-400);
}

.accordion__content {
  padding-top: 1rem;
}

/* Media queries */

@media screen and (min-width: 868px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    flex-grow: 1;
  }

  .card {
    background-image: url("images/bg-pattern-desktop.svg");
    background-position: left -100% top 50%;
    max-width: 920px;
    margin: 0 auto;
    padding: 3rem 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    overflow: hidden;
    position: relative;
  }

  .card__img {
    width: 50%;
    left: 0;
    top: 50%;
    transform: translate(-12%, -57%);
  }

  .card__content__title {
    margin-top: 0;
    text-align: left;
  }
}
